<!DOCTYPE html>
<html>
  <head>
    <title>Cookers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">Cookers</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <% if current_user %>
                <li class="nav-item">
                  <%= link_to "マイページ", user_path(current_user), class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規投稿", new_post_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "サインイン", new_user_session_path, class: "nav-link" %>
                </li>
              <% end %>
              <% if current_admin %>
                <li class="nav-item">
                  <%= link_to "admin log out", destroy_admin_session_path, method: :delete, class: "nav-link" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <%= yield(:jumbotron) %>
    </header>
    <div class="container">
      <%= notice %>
      <%= alert %>
      <%= yield %>
    </div>
  </body>
</html>
